.layout {
  display: flex;
  flex-flow: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0079BF;

  main {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 24px 16px;
  }
}