.profile {
  display: flex;
  position: relative;
  align-items: center;
  user-select: none;
  z-index: 100;

  .profile-icon {
    cursor: pointer;
    margin-right: 10px;
  }

  .chevron {
    cursor: pointer;

    &.up>svg {
      transform: scaleY(-1);
    }
  }

  .menu {
    position: fixed;
    top: 40px;
    right: 16px;
    min-width: 120px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    padding: 8px 12px;

    &-item {
      margin: 6px 0px;
      cursor: pointer;
    }
  }
}