:root {
  --header-height: 48px;
  --footer-height: 56px;
}

body {
  margin: 0;
  background-color: #0079BF;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}